.lifebar-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 40px;
}

.lifebar-segment {
    flex: 1;
    transition: background-color 0.3s ease;
}

.lifebar-segment:first-of-type {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.lifebar-segment:last-of-type {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.lifebar-full {
    background-color: green;
}

.lifebar-empty {
    background-color: yellow;
}